.chart-4 {
    height: 90%;
    display: flex;
    flex-flow: column;

    .controller {
        margin-bottom: 5px;
        padding: 5px;

        select {
            margin-right: 5px;
        }
    }

    .body {
        flex-grow: 1;
    }

}